@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen:wght@300&family=Roboto+Mono:wght@300&display=swap');
*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.fondo{
    height: 100vh;
    width: 100%;
    background-color: #1f1f29;
    padding: 0;
    display: flex;
}
.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
}
.form{
    display: flex;
    flex-direction: column;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.7rem;
    margin-bottom: 10px;
    color: #0d6efd;
}
.titulo-principal{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: #0d6efd;
}
.anadir {
min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
padding: .25rem .5rem;
font-size: .875rem;
border-radius: .25rem;
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: var(--bs-body-color);
background-color: var(--bs-form-control-bg);
background-clip: padding-box;
border: var(--bs-border-width) solid var(--bs-border-color);
}
.anadir::placeholder {
    color: #003f9e;
}
label{
    font-family: 'Roboto Mono', monospace;   
}
.menu-lateral {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 25%;
    text-align: start;
    height: 100vh;
    font-size: 1.8rem;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.menu-lateral--btn{
    background-color: transparent;
    color: white;
    border: none;
}
.menu-lateral--form { 
    width: 80%;  
    justify-content: center;
    margin-left: 10%;
    font-family: 'Oxygen', sans-serif;
    padding: 10px;
    border-radius: 40px;
}
.menu-lateral--form:hover{
    background-color: rgb(109, 109, 109);
}
.menu-lateral--btn-out {
   background-color: #0d6efd;
   color: white;
   padding: 10px; 
   border-radius: 40px;
   text-align: center;
   width: 60%;
   font-weight: 700;
}
.menu-lateral--icon{
    width: 24px;
    fill: white;
    position: relative;
    top: 10%;
    margin-right: 3px;
}
.icono{
    text-align: center;
}
.icono-reidex{
    width: 48px;
    fill: #0d6efd;
}
.principal--datos-balance{
    display: flex;
    justify-content: space-around;
    background-color: #0d6efd;
    font-size: 2rem;
    color: white;
}
.principal {
    width: 75%;
    height: 100%;
    overflow: auto;
}
.principal--informacion-balance {
    display: flex;
    justify-content: space-around;
}
.principal--contenedor {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    color: white;
    text-align: center;
}
.principal--titulo-pagina {
    background-color: #0d6efd;
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
    text-align: center;
  
}
.principal--pay {
    display: flex;
}
.principal--pay button {
    width: 20%;
    background-color: #0d6efd;
    border: 0px;
    border-radius: 5px;
    margin-left: 2px;
}
.principal--texto{
    margin-top: 10px;
    display: flex;
    width: 90%;
}
.principal--texto button{
    background-color: #0d6efd;
    border: 0px;
    border-radius: 5px;
    margin-left: 2px;
    position: relative;
    bottom: 3px;
}
.principal--add-pay{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    color: white;
}
.boton{
    background-color: #0d6efd;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.5rem;
}
.principal--add-pay select{
    width: 100%;
    color: grey;
    padding: 5px;
    background-color: transparent;
    border: 1px solid whitesmoke;
}
.principal--add-pay select option{
    width: 100%;
    color: grey;
    background-color: #1f1f29;
}
.principal--add-pay-contenedor {
    display: flex;
    flex-direction: column;
}
.formacion-doble{
    display: flex;
    width: 100%;
    gap: 5px;
}
.formacion-doble--elemento{
    width: 50%;
}
.dato{
    color: white;
    background-color: transparent;
}