@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen:wght@300&family=Roboto+Mono:wght@300&display=swap');
*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.fondo{
    height: 100vh;
    width: 100%;
    background-color: #1f1f29;
    padding: 0;
}
.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
}
.form{
    display: flex;
    flex-direction: column;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.7rem;
    margin-bottom: 10px;
    color: #0d6efd;
}
.titulo-principal{
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: #0d6efd;
}
.anadir {
min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
padding: .25rem .5rem;
font-size: .875rem;
border-radius: .25rem;
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: var(--bs-body-color);
background-color: var(--bs-form-control-bg);
background-clip: padding-box;
border: var(--bs-border-width) solid var(--bs-border-color);
}
.anadir::placeholder {
    color: #003f9e;
}
label{
    font-family: 'Roboto Mono', monospace;   
}
.menu-lateral {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 25%;
    text-align: start;
    height: 100vh;
    font-size: 1.8rem;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.menu-lateral--btn{
    background-color: transparent;
    color: white;
    border: none;
}
.menu-lateral--form {
    width: 60%;
    justify-content: center;
    margin-left: 10%;
    font-family: 'Oxygen', sans-serif;
    padding: 10px;
}
.menu-lateral--form:hover{
    background-color: grey;
}
.menu-lateral--btn-out {
   background-color: aqua;
   color: white;
   padding: 10px; 
   border-radius: 40px;
   text-align: center;
   width: 60%;
   font-weight: 700;
}
.menu-lateral--icon{
    width: 24px;
    fill: white;
    position: relative;
    top: 10%;
    margin-right: 3px;
}
.icono{
    text-align: center;
}
.icono-reidex{
    width: 48px;
    fill: #0d6efd;
}